# Dependencias
node_modules/

# Electron builds
dist/
out/
build/

# Archivos pesados
*.exe
*.zip

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

userData/
audio/

# Epub de prueba (si no quieres subirlo)
libro/